/*
	Diseño de Aplicaciones web - Tarea 04

	Asier García Aristu
*/

// Variables de colores
$negro: black;
$blanco: white;
$rojoclaro: rgba(255, 80, 80, 0.1);
$borderojo: 2px solid red;

// @mixin para hacer @include en los elementos centrados
@mixin centrado {
	margin: auto;
}

// Tamaños para las imágenes
$images : (
	"icon" : 25px,
	"logo" : 80px,
	"image" : 100px
);


// Configuración general del body
body {
	font-family: Verdana;
	margin: 0;
	min-width: 300px;
}


// Bloque header
.header {
	display: flex;
	width: 90%;
	margin: 10px auto;
	max-width: 1080px;

	//Elementos dentro del header
	&__img {
		width: map-get($images, "logo");
		margin-left: 5px;
	}

	&__h1 {
		text-align: center;
		margin: 0px auto;
	}

	&__lang {
		float: right;
		margin-bottom: -20px;

		&__a{
			position: relative;
			text-decoration:none;
			color: $negro;
		}
	}
}


// Bloque de menús de navegación
.navlist {
	list-style-type: none;
	padding: 0;
	text-align: center;
	font-weight: bold;

	// Elementos del menú
	&__li {
		display: inline;

		&__a {
			position: relative;
			text-decoration: none;
			margin: 5px 10px;
		}
	}

	// Modificadores para cada menú
	// Menu de navegación superior
	&--blanco {
		color: $negro;

		&:hover{
			background-color: $negro;
			color: $blanco;			
		}

		&.selected:hover {
			background-color: $blanco;
			color: $negro;
			cursor: default;
		}
	}

	// Menú de redes sociales en el footer
	&--rrss {

		img {
			width: map-get($images, "icon");
			height: map-get($images, "icon");
			margin: 0px -8px;

			&:hover{
				filter:invert(1);
				transform: scale(1.2);			
			}
		}
	}

	// Menú del footer
	&--negro {
		display: inline-block;
		background-color: $negro;
		color: $blanco;
		padding: 3px 0px;
		font-size: 0.8em;
		font-weight: normal;

		&:hover{
			background-color: $blanco;
			color: $negro;			
		}
	}
}

// Efecto de subrayado del elemento seleccionado
.selected:before {
	content: "";
	position: absolute;
	background-color: $negro;
	width: 100%;
	height: 3px;
	bottom: -3px;
}

// Bloque de la parte principal
.main {
	@include centrado;
	max-width: 1200px;
	padding: 1%;

	// Elementos del main
	&__img {
		width: 100%;
	}
	
	&__article {
		@include centrado;
		width: 90%;

		&__texto {
			font-size: 0.9em;
			text-align: justify;
			line-height: 20px;

			// Modificadores de los textos del main
			&--alumno {
				margin: 10px 0px;
			}

			&--superior {
				border-top: $borderojo;
				border-bottom: $borderojo;
				padding: 10px;
				margin-top: 0;
			}

			&--video {
				text-align: center;
				font-size: 0.8em;
				line-height: 1.2em;
				margin: 5px 0 30px 0;
			}

			&--inferior {
				margin-bottom: 5px;
			}
		}
		
		// Recuadro con la foto y descripción del autor
		&__autor {
			display: flex;
			background-color: $rojoclaro;
			padding: 10px 10px 20px 10px;

			img {
				width: map-get($images, "image");
				height: map-get($images, "image");
				border-radius: 50px;
				margin-right: 10px;
			}

			p {
				@include centrado;
				font-size: 0.8em;
				word-spacing: 5px;
			}
		}
		
		// Contenedor de vídeo
		&__video-container {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;

			iframe {
				border: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// BLoque del footer
.footer {
	background-color: $negro;
	color: $blanco;
	text-align: center;
	padding: 10px 10px 25px 10px;

	// Elementos del footer
	&__img{
		width: map-get($images, "logo");
	}

	&__address{
		p {
			font-size: 0.8em;
		}
	}

	p {
		font-size: 0.7em;
		margin: 5px 0px;
	}
}

// Breakpoints de la página
@media (max-width: 768px) {
	// Modifica la anchura del título
	.header {

		&__h1 {
			width: 270px;
		}
	}
}

@media (max-width: 600px) {
	//Modifica el menú superior para que sea vertical
	.navlist {

		&--vertical{
			display: block !important;
			margin: 10px 0px;
		}

		&--blanco {

			&:hover{
				display: block;			
			}

			&.selected:hover {
				display: unset;
			}
		}
	}

}

@media (max-width: 480px) {
	// Modifica la disposición de los elementos del header
	.header {
		display: block;
		text-align: center;

		&__img {
			transform: translate(0px, 100px);		
		}
	
		&__h1 {
			transform: translate(0px, -50px);
			font-size: 1.7em;
			width: unset;
			height: 66px;
		}
	
		&__lang {
			float: unset;
			margin-bottom: unset;
			transform: translate(0px, -150px);
		}
	}

	// Modifica la disposición de los elementos del autor
	.main{
		&__article {
			&__autor {
				display: block;
				text-align: center;
			}
		}
	}
}