/*
	Para crear el css, en command line
		- ubicar en la carpeta
		- sass nombrearchivo.scss nombrearchivo.css
			p.e.: sass style.scss style.css
	
		- para extended (por defecto) o compressed
			sass --style=compressed nombrearchivo.scss nombrearchivo.css
			* se suele nombrar el archivo nombrearchivo.min.css

	Para que vaya actualizando solo
		- sass --watch nombrearchivo.scss nombrearchivo.css

	Flags de compilación
		--no-source-map
		--stop-on-error
		--embred-source-map
		--help
		--quiet
		--color / --no-color
		--trace
*/

// Variables
$negro: black;
$blanco: white;
$rojoclaro: rgba(255, 80, 80, 0.1);
$borderojo: 2px solid red;

// @mixin
@mixin centrado {
	margin: auto;
}

// Tamaños para las imágenes
$images : (
	"icon" : 25px,
	"logo" : 80px,
	"image" : 100px
);


// Configuración de elementos generales
body {
	font-family: Verdana;
	margin: 0;
	min-width: 300px;
}


// Header
.header {
	display: flex;
	width: 100%;
	margin: 10px auto;
	max-width: 1400px;

	&__img {
		width: map-get($images, "logo");
	}

	&__h1 {
		text-align: center;
		margin: 0px auto;
	}

	&__lang {
		float: right;
		margin-right: 10px;
		margin-bottom: -20px;

		&__a{
			position: relative;
			text-decoration:none;
			color: $negro;
		}
	}
}


// Menús de navegación con BEM
.navlist {
	list-style-type: none;
	padding: 0;
	text-align: center;
	font-weight: bold;

	&__li {
		display: inline;

		&__a {
			position: relative;
			text-decoration: none;
			margin: 5px 10px;
		}
	}


	&--blanco {
		color: $negro;

		&:hover{
			background-color: $negro;
			color: $blanco;			
		}

		&.selected:hover {
			background-color: $blanco;
			color: $negro;
			cursor: default;
		}
	}

	&--rrss {

		img {
			width: map-get($images, "icon");
			height: map-get($images, "icon");
			margin: 0px -8px;

			&:hover{
				filter:invert(1);
				transform: scale(1.2);			
			}
		}
	}

	&--negro {
		display: inline-block;
		background-color: $negro;
		color: $blanco;
		padding: 3px 0px;
		font-size: 0.8em;
		font-weight: normal;

		&:hover{
			background-color: $blanco;
			color: $negro;			
		}
	}
}

// Efecto de subrayado del elemento seleccionado
.selected:before {
	content: "";
	position: absolute;
	background-color: $negro;
	width: 100%;
	height: 3px;
	bottom: -3px;
}

// Parte principal de la web
.main {
	@include centrado;
	max-width: 1200px;
	padding: 1%;

	&__img {
		width: 100%;
	}
	
	&__article {
		@include centrado;
		width: 90%;

		// Diferentes tipos de textos del main
		&__texto {
			font-size: 0.9em;
			text-align: justify;
			line-height: 20px;

			&--alumno {
				margin: 10px 0px;
			}

			&--superior {
				border-top: $borderojo;
				border-bottom: $borderojo;
				padding: 10px;
				margin-top: 0;
			}

			&--video {
				text-align: center;
				font-size: 0.8em;
				line-height: 1.2em;
				margin: 5px 0 30px 0;
			}

			&--inferior {
				margin-bottom: 5px;
			}
		}
		
		// Recuadro con la foto y descripción del autor
		&__autor {
			display: flex;
			background-color: $rojoclaro;
			padding: 10px 10px 20px 10px;

			img {
				width: map-get($images, "image");
				height: map-get($images, "image");
				border-radius: 50px;
				margin-right: 10px;
			}

			p {
				@include centrado;
				font-size: 0.8em;
				word-spacing: 5px;
			}
		}
		
		// Contenedor de vídeo
		&__video-container {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;

			iframe {
				border: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// Footer
.footer {
	background-color: $negro;
	color: $blanco;
	text-align: center;
	padding: 10px 10px 25px 10px;

	&__img{
		width: map-get($images, "logo");
	}

	&__address{
		p {
			font-size: 0.8em;
		}
	}

	p {
		font-size: 0.7em;
		margin: 5px 0px;
	}
}

// Breakpoints de la página
@media (max-width: 720px) {
	.header {

		&__h1 {
			width: 270px;
		}
	}
}

@media (max-width: 600px) {

	.navlist {

		&--vertical{
			display: block !important;
			margin: 10px 0px;
		}

		&--blanco {

			&:hover{
				display: block;			
			}

			&.selected:hover {
				display: unset;
			}
		}
	}

}

@media (max-width: 480px) {
	.header {
		display: block;
		text-align: center;
	
		&__h1 {
			margin-bottom: 25px;
		}
	
		&__lang {
			right: 0px;
			top: -185px;
			margin-right: 10px;
			position: relative;
		}
	}

	.main{
		&__article {
			&__autor {
				display: block;
				text-align: center;
			}
		}
	}
}